@import "./tailwind.css";

:root {
    --color-green: rgb(199, 252, 64);
    --color-redish: #ff6669;
    --color-pinkish: #ff0059;
    --color-purple: #9747ff;
}

body {
    background-color: white;
}

.tt-bg-green {
    background-color: var(--color-green);
}

.tt-bg-redish {
    background-color: var(--color-redish);
}

.tt-bg-pinkish {
    background-color: var(--color-pinkish);
}

.tt-bg-purple {
    background-color: var(--color-purple);
}
