@import "./tailwind.css";

:root {
    --color-green: #c8fb53;
    --color-redish: #da806d;
    --color-pinkish: #ff0057;
    --color-purple: #9748fb;
    --color-camo: #958d51;
    --color-mauve: #ad506f;
}

body {
    background-color: white;
}

.tt-bg-green {
    background-color: var(--color-green);
}

.tt-bg-redish {
    background-color: var(--color-redish);
}

.tt-bg-pinkish {
    background-color: var(--color-pinkish);
}

.tt-bg-purple {
    background-color: var(--color-purple);
}

.tt-bg-camo {
    background-color: var(--color-camo);
}
